---
export interface Props {
  title: string;
  emoji: string;
}

const { title, emoji } = Astro.props;
---

<section class="flex flex-col place-items-center">
  <p class="text-3xl">{emoji}</p>
  <h2 class="text-4xl underline decoration-red-500">{title}</h2>
  <div class="flex justify-start flex-col gap-3 my-5">
      <slot />
  </div>
</section>
